
@model List<Iller>


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/AdminPanel/AdminAdresler/AdminAdreslerIndex">Adres Listesi</a></li>
                    <li class="breadcrumb-item active">Adres Ekle</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">ADRES EKLE</h3>
                    </div>

                    <form asp-action="AdresKaydetIndex" id="adresEkleIndex" asp-controller="Adresler" method="post">

                        <div class="card-body">

                            <div class="form-group col-md-6">
                                <label asp-for="AdresBasligi">Adres Başlığı</label>
                                <input name="AdresBasligi" asp-for="AdresBasligi" type="text" class="form-control" placeholder="Adres Başlığı">
                                <span asp-validation-for="UrunAdi" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">

                                <label>İl Seçiniz</label>
                                <select name="IlKodu" asp-for="IlKodu" id="ilId" class="form-control">
                                    <option selected>Seçiniz...</option>
                                    @foreach (var item in (List<Iller>)TempData["iller"])
                                    {
                                        <option value="@item.IlKodu">@item.IlAdi</option>
                                    }

                                </select>
                                <span asp-validation-for="IlKodu" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label>İlçe Seçiniz</label>
                                <select name="IlceKodu" asp-for="IlceKodu" id="ilceDropdown" class="form-control">
                                    <option selected>İlçe Seçiniz...</option>
                                </select>
                                <span asp-validation-for="IlceKodu" class="text-danger"></span>
                            </div>


                            <div class="form-group col-md-6">
                                <label asp-for="">Adres</label>
                                <textarea name="Adres" asp-for="Adres" class="form-control" rows="3" placeholder="Adresi yazınız"></textarea>
                                <span asp-validation-for="Adres" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="">Posta Kodu</label>
                                <input name="PostaKodu" asp-for="PostaKodu" type="text" class="form-control" placeholder="Posta kodunu giriniz">
                                <span asp-validation-for="PostaKodu" class="text-danger"></span>
                            </div>
                            <div class="card-footer">
                                <input type="submit" class="btn btn-success" value="Adres Kaydet" />
                            </div>
                        </div>
                    </form>
                    @if (ViewBag.mesaj != null)
                    {
                        <div class="col-md-12 alert alert-danger">
                            @ViewBag.mesaj
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section addBottomLibrary {
    <script>
        $(document).ready(function () {
            $('#ilId').change(function () {
                var secilenIl = $("#ilId").val();
                $.ajax({
                    url: "/AdminAdresler/GetIlveIlce",
                    type: 'POST',
                    data: { ilId: secilenIl },
                    success: function (data) {
                        var ilceDropdown = $('#ilceDropdown');
                        ilceDropdown.empty();
                        ilceDropdown.append('<option value="">İlçe Seçiniz...</option>');
                        $.each(data, function (index, ilce) {
                            ilceDropdown.append($('<option></option>').val(ilce.value).html(ilce.text));
                        });
                    }
                });
            });
        });

        $(function () {
            $('#adresEkleIndex').validate({
                rules: {
                    AdresBasligi: {
                        required: true
                    },
                    IlKodu: {
                        required: true
                    },
                    IlceKodu: {
                        required: true
                    },
                    Adres: {
                        required: true
                    },
                    PostaKodu: {
                        required: false,
                        digits: true
                    }
                },
                messages: {
                    AdresBasligi: {
                        required: "Adres başlığı alanı zorunludur."
                    },
                    IlKodu: {
                        required: "İl seçimi zorunludur."
                    },
                    IlceKodu: {
                        required: "İlçe seçimi zorunludur."
                    },
                    Adres: {
                        required: "Adres alanı zorunludur."
                    },
                    PostaKodu: {
                        digits: "Posta kodu sadece rakamlardan oluşmalıdır."
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });

    </script>
}
