@section menuCSS{
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/hesabım.css" rel="stylesheet" />
}

<div class="nav-side-menu">
    <div class="brand">@Context.Session.GetString("userName")</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-clipboard fa-lg"></i> Siparişlerim
                </a>
            </li> 
            
            <li>
                <a href="#">
                    <i class="fa fa-map-marker fa-lg"></i> Adreslerim
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-user fa-lg"></i> Profilim
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-heart fa-lg"></i> Favorilerim
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-envelope fa-lg"></i> Bildirimlerim
                </a>
            </li>
            
        </ul>
    </div>
</div>



@section MenuJs{
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
}