html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.active-menu {
    color: #6c7ae0;
}

.shopping-cart .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.shopping-cart .cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

