
@model Kullanicilar

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/AdminPanel/AdminKullanicilar/AdminKullanicilarIndex">Adres Listesi</a></li>
                    <li class="breadcrumb-item active">Kullanici Sil</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">KULLANİCİ SİL</h3>
                    </div>
                    <form asp-action="AdminKullaniciSilIndex" id="kullaniciSilIndex" asp-controller="AdminKullanicilar" method="post">

                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AktifMi, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.AktifMi)
                                        @Html.ValidationMessageFor(model => model.AktifMi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <input type="submit" class="btn btn-success" value="Kullanici Sil" />
                            </div>
                        </div>
                    </form>
                    @if (ViewBag.mesaj != null)
                    {
                        <div class="col-md-12 alert alert-danger">
                            @ViewBag.mesaj
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section addBottomLibrary {

}